textarea {
    border-radius: 8em;
    resize: none
}

@media(max-width: 800px) {
    .form-group * {
        width: 15em;
    }
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}