.form-group {
    text-align: left;
    padding-right: 4em;
}

.form-group>* {
    width: 30vw;
    padding-right: 2em;
}

textarea {
    border-radius: 8em;
    resize: none
}

.input-tooltip {
    z-index: 1000;
}

.input-tooltip .ant-tooltip-inner {
    width: 100%;
    background-color: rgb(252, 77, 80);
}

.input-tooltip .ant-tooltip-arrow {
    border-top-color: rgb(252, 77, 80);
}

.input-num-tooltip {
    z-index: 1000;
}

.input-num-tooltip .ant-tooltip-inner {
    width: 100%;
    background-color: rgb(252, 77, 80);
}

.input-num-tooltip .ant-tooltip-arrow {
    border-right-color: rgb(252, 77, 80);
}


@media(max-width: 800px) {
    .form-group>* {
        width: 15em;
    }
}