

.icard-hor {
    display: flex;
    flex-direction: row;
    margin: 2em;
    transition: transform .25s;
    /*box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.11);*/
    border-radius: 15px;
    /*cursor: pointer;*/
    justify-content: space-between;
    position: relative;
    width: 40vw;
    
}
.icard-hor > div , button
{
  text-align:center;

  margin:5px;  /* and that, will result in a 10px gap */
}

.icard-hor #bt-event {
    background: rgb(66, 143, 89);
    border: rgb(255, 255, 255);
    border-radius: 10px;
    width: 17vw;
    height: 12vw;
    font-weight: 600;
    letter-spacing: 2px;
}

.icard-hor #img-pro {
    width: 17vw;
    height: 12vw;
    object-fit: cover;
}

.icard-hor #box-event {
    width: 100%;
    text-align: left;
    color: black;
    font-size: .8em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    padding-top: 0;

}


.icard-hor #proj-location {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right; 
    align-items: center;
    justify-self: right;
    font-size: 1em;
    font-weight: 700;
    color: #686868;
    padding: 1em;
    padding-left: 0px;
}

.icard-hor #proj-location #proj-icon {
    margin: 0;
    height: 2em;
}


.icard-hor #proj-name {
    font-weight: 700;
    font-size: 1.4em;
    
}

.icard-hor #proj-gen {
    font-size: .9em;
    font-weight: 700;
   /* font-family: "Text Me One";*/
    color: rgb(66, 66, 66);


    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.icard-hor #proj-type {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(19, 92, 48);
}

.icard-hor #proj-icon {
    height: 28px;
    padding: 3px;
    padding-left: 0;
}
.icard-hor #num {
     margin-right: .6em;
 }



 .icard-hor #proj-footer {
    position: absolute;
    bottom: 1%;
    right: 1%;
 }

 .icard-hor #proj-cont {
    width:3em;
    height: 3em;   
    border-radius: 3em;   
    background: rgb(19, 92, 48);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.11);
}










.icard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2em;
    /*transition: transform .25s;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.11);*/
    border-radius: 15px;
    cursor: pointer;

}

#bt-event {
    background: rgb(66, 143, 89);
    border: #95989A;
    width: 20vw;
    height: 12vw;
    border-radius: 10px;

    font-weight: 600;
    letter-spacing: 2px;
    z-index: 1;
    position: relative;
    margin-bottom: .6em;
}

#bt-more {
    background-color: rgb(28, 56, 27);
    position:absolute;
    width: 90%;
    height: 105%;
    top: 0;
    left: 5%;
    border-radius: 7px;
    z-index: -1;

}

#img-pro {
    width: 20vw;
    height: 12vw;
    object-fit: cover;
    border-radius: 10px;
    filter: saturate(120%);
}

#box-event {
    background-color: transparent;
    width: 100%;
    height: 75px;
    
    text-align: left;
    color: black;
    font-size: .8em;
    display:flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 0;
}

#proj-top  {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-around;	
    align-items: center;
    margin: 0px;
}

#proj-location {
    display: flex;
    flex-direction: row;
    flex-wrap: no wrap;
    justify-content: right; 
    align-items: center;
    justify-self: right;
    font-size: .8em;
    font-weight: 700;
    color: #686868;
}

#proj-location #proj-icon {
    margin-left: .5em;
}

#proj-name {
    font-weight: 700;
    font-size: 1.2em;
    
}

.icard #proj-gen {
    font-size: 1.6em;
    font-weight: 400;
    font-family: "Text Me One";

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 1em;

}

#proj-type {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(19, 92, 48);
}

#proj-icon {
    height: 28px;
    padding: 3px;
    padding-left: 0;
}
 #num {
     margin-right: .6em;
 }

#icard:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.329);
}


.zoom:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.005);
}

/*ADD CART*/
#btn-add-cart {
    padding: 0 0;
    margin-top: 5vmin;
    width: 20vw;
    justify-self: center;
}

#add-icon {
    height: 3vmin;
    cursor: pointer;
}

.amount-number {
    font-size: 2em;
    font-weight: 600;
}

#number-flex {
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding: 5vmin;
    border-bottom: 1px solid rgb(126, 126, 126);
}

#number-flex > div {
    padding: 0 2vmin;
    width: 20%;
}

#flex-head {
    width: 100%;
    margin: auto;
}

#total-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4vmin;
    text-align: right;
}

#total-num {
    font-size: 3em;
    font-weight: 900;
}

#total-text {
    text-transform: uppercase;
    letter-spacing: .2em;
}

#precart-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


@media (max-width: 800px) {
    #bt-event {
        width: 40vw;
        height: 20vw;
    }


#img-pro {
    width: 40vw;
    height: 20vw;
}

}
