.icard-hor {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    transition: transform 1s;
    /*box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.11);*/
    border-radius: 15px;
    /*cursor: pointer;*/
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;
    width: 20vw;
    font-size: 0.9rem;
}

/*
.icard-hor:hover {
    transform: skewY(180deg) skewX(180deg) rotate(180deg) scale(3);
}*/

.icard-hor>div, button {
    text-align: center;
    margin: 5px;
    /* and that, will result in a 10px gap */
}

.icard-hor #bt-event {
    background: linear-gradient(to right, rgb(66, 143, 89), var(--main-spg-color));
    border: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    height: 50%;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 1px 1px 50px rgba(87, 87, 87, 0.349);
}

.icard-hor #img-pro {
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-radius: 10px;
    filter: saturate(120%);
}

.icard-hor #box-event {
    width: 100%;
    text-align: left;
    color: black;
    font-size: .8em;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    height: 100%;
}

.icard-hor #proj-location {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: right;*/
    align-items: center;
    justify-self: right;
    font-size: 1em;
    font-weight: 500;
    color: #686868;
}

.icard-hor #proj-location #proj-icon {
    margin: 0;
    height: 2em;
}

.icard-hor #proj-name {
    font-weight: 800;
    font-size: 1.4em;
}

.icard-hor #proj-gen {
    font-size: .9em;
    font-weight: 600;
    /* font-family: "Text Me One";*/
    color: rgb(66, 66, 66);
    display: flex;
    flex-direction: row;
    /*justify-content: right;*/
    align-items: center;
}

.icard-hor #proj-type {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--sec-spg-color);
}

.icard-hor #proj-icon {
    height: 28px;
    padding: 3px;
    padding-left: 0;
}

.icard-hor #num {
    margin-right: .6em;
}

.icard-hor #proj-footer {
    position: absolute;
    right: -1em;
    bottom: 0;
}

.icard-hor #proj-cont {
    width: 3em;
    height: 3em;
    border-radius: 3em;
    background: rgb(19, 92, 48);
    background: var(--main-spg-color);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    box-shadow: 5px 7px 20px rgba(13, 136, 2, 0.11);
}

.icard-hor #proj-cont-icon {
    height: 1.25em;
}

#proj-icon {
    height: 28px;
    padding: 3px;
    padding-left: 0;
}

#proj-location {
    display: flex;
    flex-direction: row;
    flex-wrap: no wrap;
    /*justify-content: right;*/
    align-items: center;
    justify-self: right;
    font-size: .8em;
    font-weight: 700;
    color: #686868;
}

/*
.icard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2em;
    /*transition: transform .25s;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.11);
    border-radius: 15px;
    cursor: pointer;

}

#bt-event {
    background: rgb(66, 143, 89);
    border: #95989A;
    width: 20vw;
    height: 12vw;
    border-radius: 10px;

    font-weight: 600;
    letter-spacing: 2px;
    z-index: 1;
    position: relative;
    margin-bottom: .6em;
}

#bt-more {
    background-color: rgb(28, 56, 27);
    position:absolute;
    width: 90%;
    height: 105%;
    top: 0;
    left: 5%;
    border-radius: 7px;
    z-index: -1;

}

#img-pro {
    width: 20vw;
    height: 12vw;
    object-fit: cover;
    border-radius: 10px;
    filter: saturate(120%);
}

#box-event {
    background-color: transparent;
    width: 100%;
    height: 75px;
    
    text-align: left;
    color: black;
    font-size: .8em;
    display:flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 0;
}

#proj-top  {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-around;	
    align-items: center;
    margin: 0px;
}

#proj-location {
    display: flex;
    flex-direction: row;
    flex-wrap: no wrap;
    justify-content: right; 
    align-items: center;
    justify-self: right;
    font-size: .8em;
    font-weight: 700;
    color: #686868;
}

#proj-location #proj-icon {
    margin-left: .5em;
}

#proj-name {
    font-weight: 700;
    font-size: 1.2em;
    
}

.icard #proj-gen {
    font-size: 1.6em;
    font-weight: 400;
    font-family: "Text Me One";

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 1em;

}

#proj-type {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(19, 92, 48);
}

 #num {
     margin-right: .6em;
 }

#icard:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.329);
}


.zoom:hover {
    -ms-transform: scale(1.1);
    /* IE 9 
    -webkit-transform: scale(1.1);
    /* Safari 3-8 
    transform: scale(1.005);
}
*/

.Modal {
    position: absolute;
    top: 3vmin;
    left: 1vmin;
    right: 1vmin;
    background-color: white;
    margin: 5vmin 10vmin;
    margin-top: 7.5vmin;
    margin-bottom: 20vmin;
    margin-left: 20vmin;
    margin-right: 20vmin;
    border: none;
    border-radius: 10px;
    padding: 5vmin;
    z-index: 1000;
    /*font-family: CircularStd, Montserrat;*/
    box-shadow: 2vmin 2vmin 10vmin rgba(75, 75, 75, 0.308);
}

.ModalBack {
    position: fixed;
    /* Stay in place */
    z-index: 2000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.card {
    border: none;
}

#close-button {
    border: none;
    background: none;
    float: left;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001;
    cursor: pointer;
}


@media (max-width: 990px) {
    .icard-hor {
        width: 40vw;
        margin: .5em;
    }
    #close-button {
        top: 1px;
        right: 1px;
        padding: 0;
    }
}

@media(max-width: 600px) {
    .icard-hor {
        width: 80vw;
    }
    .Modal {
        margin: 2vw;
    }
}

@media(max-width: 990px) {
    .Modal {
        margin: 0vw;
    }
}