.navbar {
    padding-left: 5vw;
    font-size: .9rem;
    background: #fefefe;
}

.blur-bg {
    filter: blur(3px);
    height: 100%;
    width: 100%;
}

.navbar-brand {
    font-weight: 900;
    font-size: 1.5em;
    margin-right: 2.4vw;
    font-family: Montserrat;
    color: black !important;
}

.navbar-nav {
    align-items: center;
}
.nav-item {
    margin: 0vw 1vw;
    font-size: 0.9em;
    font-weight: 600;
}

.nav-link {
    color: rgb(106, 106, 106);
    font-size: 0.9em;
    align-items: flex-start;
   font-weight: 200;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   justify-self: center;
  
}

.dropdown-item {
    color: rgb(106, 106, 106);
}

.nav-item #login-bt {
    border: none;
    background-color: rgb(24,162,78);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    letter-spacing: .1em;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav {
    --padding: .75vw 2.5vw .75vw 2.5vw;
}



#nav-icon {
        width: 1.5em;
        height: 1.5em;
}


#btn-search {
    display: none;
}

#nav-profile {
    border-radius: 100px;
    height:7vh;
    width:7vh;
    border: none;
    background: #f4f4f4;
}

#person-icon {
    margin-top: 20%;
    color: rgb(82, 82, 82);
}

.navbar-toggler {
    border:none;
    color: black;

}



@media(max-width: 990px) {
    .navbar {
        font-size: 1.5em;
    }
    .navbar-nav {
        align-content: flex-start;
        text-align: left;
    }
}