.main-area {
  padding: 1em;
  width: 100%;
}

#barra-info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 18vh;
  padding: 11vh 0vh;
}

#profile-div {
  display: flex;
  flex-wrap: nowrap;
}

#profile-imagen {
  object-fit: cover;
  border-radius: 50px;
  width: 7em;
  height: 7em;
  border-radius: 300px;
  display: flex;
  align-items: flex-start;
  margin: 1em;
}

#profile-done {
  border-radius: 100px;
  width: 1.5em;
  height: 1.5em;
  margin-top: 1.2vh;
}

.nav-icon {
  width: 1.5em;
  height: 1.5em;
}

#iconNav {
  color: white;
}

#flex-verified {
  display: none;
  flex-direction: row;
}

#profile-verified {
  padding: 0vh 0.5vw;
}

.textD {
  font-weight: 900;
  font-size: 1.4em;
  color: black;
}

.textD1 {
  font-weight: 900;
  font-size: 1.1em;
  color: black;
  text-align: left;
}

#flex-nombre {
  display: flex;
  flex-direction: row;
}

#profile-flex {
  height: 100%;
  width: 75vw;
  flex-direction: column;
  align-items: flex-start;
}

.textD2 {
  font-weight: 900;
  font-size: 1.0em;
  color: white;
  color: rgba(0, 0, 0, .5);
}


/* INVERSIONES*/

#name-flex {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

#name-flex>.textD1 {
  font-weight: 500;
  font-size: 3.8em;
  color: rgb(24, 162, 78);
}

#name-flex>#name-text {
  font-weight: 300;
  padding-right: 0.1em;
}

#flexbox-infoG {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 2em;
}

#flexbox-infoG>.textD1 {
  padding-right: 5em;
  font-weight: 400;
  color: rgb(129, 129, 129);
  display: flex;
  align-content: center;
  align-items: center;
}

#flexbox-infoG>.textD1>* {
  padding-right: .5em;
}

#flex-header {
  padding-left: 2em;
  padding-bottom: 1em;
  align-items: flex-start;
}

#flex-nombre {
  letter-spacing: 0.06em;
}

#flex-four {
  width: 78vw;
  flex-direction: row;
  flex-wrap: wrap;
}

#flex-four>.flexbox {
  justify-content: center;
  padding: 1em 4em;
}

#flex-four>* {
  margin: 1em 2em;
  height: 10em;
  transition: transform .25s;
}

#flex-four>*:hover {
  transform: scale(1.05)
}

.flex-item {
  overflow: hidden;
  position: relative;
  text-align: center;
  background: white;
  box-shadow: 0 10px 100px rgba(194, 194, 194, 0.349);
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.item-lg {
  width: 50%;
}

.item-sm {
  width: 25%;
}

.flex-item img {
  max-width: 120%;
  max-height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  filter: saturate(110%);
}

.flex-item h3 {
  font-weight: 900;
  font-size: 1.0em;
  position: absolute;
  bottom: 10%;
  left: 1.5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
}

/*
#notificaciones{
  background-color: rgb(24,162,78);
}

#terrenos{
  background-color: rgb(24,162,78);
}

*/

#perdida {
  color: rgb(204, 0, 0);
}

#ganancia {
  color: rgb(0, 170, 34);
}

/*Configuracion*/

#config-title {
  padding-bottom: 2em;
  padding-left: 0em;
}

#config-flex {
  flex-direction: column;
  padding: 3em;
  align-items: flex-start;
}

#config-item {
  display: grid;
  grid-template-columns: 90% 10%;
  width: 50%;
  justify-items: start;
  /*
  padding-left: 3em;
  padding-bottom: 2em;*/
  padding-bottom: 1.5em;
}

#config-name {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
#info-item {
  font-weight: 300;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.618);
}

#edit-icon {
  border: none;
  background: transparent;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-content: center;
}

#e-icon {
  width: 1.4em;
  height: 1.4em;
}

#close-mod {
  margin: 0;
  border: none;
  background-color: transparent;
}

/* TABS */
#profile-cont .ant-tabs-bar {
  height: 130vh;
  background: rgb(245, 245, 245);
  display: flex;
  text-align: left;
  border: none;
  padding-top: 40vh;
}

#profile-cont .ant-tabs-nav-scroll {
  width: 20vw;
}

#profile-cont .ant-tabs-tab {
  display: flex;
  justify-content: flex-start;
  margin-left: 1em;
  font-size: .8em;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: transform .2s;
}

#profile-cont .ant-tabs-tab:hover {
  transform: scale(1.1);
}

.tab-icon .icon {
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: .5em;
}

.tab-extra {
  position: absolute;
  top: 15%;
  left: 0%;
  z-index: 1001;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* INVERSIONES */

#investment-cards {
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

#inv-card {
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(248, 248, 248);
  text-align: left;
  margin: 1em;
  width: 45%;
}

.stat-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.stat-grid>* {
  margin: .5em;
}
.anticon-edit {
  padding-bottom: 20%;
}
.ant-stastic-content {
  align-content: center;
}

/* CONFIGURACION */

.ant-modal-mask {
  z-index: 2000;
}

.ant-modal-wrap {
  z-index: 2001;
}

@media(max-width: 990px) {
  #profile-cont .ant-tabs-tab {
    justify-content: center;
    margin-left: 0;
  }
  #profile-cont .ant-tabs-bar {
    padding-top: 10vh;
  }
  #profile-cont .ant-tabs-content {
    padding: .5em;
  }
  #config-flex {
    padding: 1em;
  }
  .tab-icon .icon {
    margin: 0;
  }
  #profile-imagen {
    width: 4em;
    height: 4em;
  }
  #flex-four .item-sm {
    width: 80%;
  }
  #flex-four .item-lg {
    width: 80%;
  }
  #flex-header {
    padding-left: .3em;
  }
  .tab-extra {
    display: none;
  }
  #config-item {
    width: 90%;
  }
  #name-flex>.textD1 {
    font-weight: 500;
    font-size: 2em;
    color: rgb(24, 162, 78);
  }
  #inv-card {
    width: 90%;
    font-size: 9px;
  }

  #info-item {
    font-size: 1rem;
  }
}