.page-container {
    margin: 3em 10vw;
    text-align: left;
}

#modal-flex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-width: 100%;
}

#main-flex {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    padding-bottom: 0;
    /*padding-left: 3em;
    /*padding-top: 4.2em;*/
    flex-grow: 2;
    position: relative;
    width: 50%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#side-flex {
    background-color: rgb(255, 255, 255);
    width: 50%;
    min-height: 100%;
}

#side-flex>#sidebar {
    background-color: rgb(1, 95, 1);
    background-color: var(--main-spg-color);
    color: white;
    padding: 1em;
    padding-bottom: 0em;
    margin-bottom: 0em;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    flex-grow: 1;
    font-size: 1em;
    background-color: rgb(245, 245, 245);
    background-color: white;
    color: black;
    position: relative;
    align-content: flex-start;
    padding: 0;
    flex-direction: column;
}

#side-flex>#sidebar>* {
    margin-bottom: 1.5em;
}

#sidebar h6 {
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 0.8em;
    /*text-transform: uppercase;*/
}

.info-flex {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.info-flex>div {
    text-align: center;
    padding: 2%;
}

.h2-project {
    font-weight: 900;
    z-index: 1000;
    font-size: 2em;
    padding-left: 0.5em;
    padding-top: .3em;
}

#sidebar .ant-progress-bg {
    background-color: var(--main-spg-color)
}

#side-flex h5 {
    font-weight: 700;
}

#terr-head {
    position: absolute;
    top: 0;
    left: -10;
    font-size: 100;
    text-transform: uppercase;
    color: rgba(0, 128, 0, 0.192);
    letter-spacing: .25em;
    font-weight: 700;
    font-size: 1em;
}

#proj-location {
    font-size: 1em;
    margin: 0;
    font-weight: 400;
    color: gray;
}

#proj-location * {
    margin-right: .2em;
}

#proj-title {
    margin-bottom: 0;
}

#modal-img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
}

#img-div {
    height: 100%;
    width: 100%;
}

.spg-btn {
    background-color: white;
    border: none;
    border-radius: 10px;
    margin: auto;
    height: 10vmin;
    width: 40vmin;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .25em;
    display: none;
}

.invest-modal {
    width: 40vw;
    margin: auto;
    overflow: auto;
    border-radius: 10px;
    top: 0;
}

.flex-item {
    width: 100%;
}

.subheading {
    font-size: 1em;
    margin: 0;
}

.subheading .bold-lg {
    font-size: 1.3em;
}

.p-no-btm {
    margin: 0;
}

.modal-header-title {
    margin-bottom: .8em;
}

.tab-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*ADD CART*/

#btn-add-cart {
    padding: 0 0;
    margin-top: 5vmin;
    width: 90%;
    align-self: center;
}

#btn-invest {
    padding: 0 0;
    width: 90%;
    align-self: center;
    background-color: var(--main-spg-color);
    margin-top: inherit;
    margin: auto;
    margin-right: 1em;
    justify-self: right;
}

#add-icon {
    height: 3vmin;
    cursor: pointer;
}

.amount-number {
    font-size: 2em;
    font-weight: 600;
}

#number-flex {
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding: 5vmin;
    border-bottom: 1px solid rgb(126, 126, 126);
}

#number-flex>div {
    padding: 0 2vmin;
    width: 20%;
}

#flex-head {
    width: 100%;
    margin: auto;
}

#total-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4vmin;
    text-align: right;
}

#total-num {
    font-size: 3em;
    font-weight: 900;
}

#total-text {
    text-transform: uppercase;
    letter-spacing: .2em;
}

#precart-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* NAVIGATION */

.invest-nav {
    width: 100vw;
    color: black;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1500;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 3vh 10vw;
    border-top: .5px solid rgb(228, 228, 228);
}

#project-div .ant-tabs-extra-content {
    width: 30%;
    margin: 2em;
}

#project-div .ant-tabs-nav-container {
    align-items: flex-start;
}

#project-div .ant-tabs-tabpane {
    text-align: left;
}

#project-div .tab-pane {
    padding: 1em;
}

#project-div .ant-tabs-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1502;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
}

/* FOTOS */

#carousel-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#carousel-div {
    width: 45%;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 50vh;
    line-height: 160px;
    background: #dadada;
    overflow: hidden;
    border-radius: 10px;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.carousel-image {
    object-fit: cover;
    height: 50vh
}

/* CONFIRMATION */

#confirmation-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icon-lg {
    font-size: 10em;
    display: flex;
    align-items: center;
    padding: 5%;
}

#btn-go {
    padding: 1em;
}

@media(max-width: 900px) {
    #modal-flex {
        display: flex;
        flex-direction: column;
    }
    #main-flex {
        width: 100%;
    }
    #side-flex {
        width: 100%;
    }
    #side-flex>#sidebar {
        padding: 2em;
        margin-bottom: 4em;
    }
    #invest-nav-item {
        display: none;
    }
    #project-div .ant-tabs-bar {
        display: flex;
        flex-direction: column-reverse;
    }
    #project-div .ant-tabs-extra-content {
        width: 60%;
        margin: 1.5em;
    }
    #btn-invest {
        width: 90%;
        align-self: center;
        background-color: var(--main-spg-color);
        margin-top: inherit;
        width: 100%;
        height: 3em;
        margin: auto;
        font-size: 1.1em;
    }
    .tab-text {
        display: none;
    }
    .tab-icon {
        font-size: 1.5em;
        padding: auto;
    }
    #side-flex>#sidebar>* {
        margin-bottom: 2em;
    }
    .page-container {
        margin: .5em 1em;
    }
    .invest-modal {
        width: 80vw;
        top: 20%;
    }
    #terr-head {
        position: absolute;
        top: 8%;
        left: -10;
        font-size: 100;
        text-transform: uppercase;
        color: rgba(0, 128, 0, 0.192);
        letter-spacing: .25em;
        font-weight: 700;
        font-size: 1em;
    }

    #carousel-tab {
        flex-direction: column;
    }

    #carousel-div {
        width: 100%;
        padding-bottom: 10%;
    }

    #tab-pane {
        padding-bottom: 30%;
    }
}

.º {
    display: none;
}

.gmap {
    width: 90vw;
}