.info-cont {
text-align: left;
margin-top: 10vh;
}

#proj-nav {
    text-align: center;
}

#new-proj {
    font-weight: 700;
    width: 40%;
    border-radius: 10px;
}

.Modal {
    position: absolute;
    top: 5vmin;
    left: 1vmin;
    right: 1vmin;
    
    background-color: white;
    margin: 5vmin 10vmin;
    margin-top: 15vmin;
    margin-bottom: 20vmin;
    margin-left: 15vmin;
    margin-right: 15vmin;
    border: none;
    border-radius: 20px;
    padding: 5vmin;
    z-index: 1000;
    font-family: Montserrat;
    box-shadow: 2vmin 2vmin  10vmin rgba(75, 75, 75, 0.308);
}

.card {
    border: none;
}

#close-button {
    border: none;
    background: none;
    float:left;
}

#modal-flex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 1000px;
    min-width: 100%;
}

#main-flex {
    background-color: rgb(255, 255, 255);
    padding: 2em;
    padding-top: 4.2em;
    flex-grow: 2;
    position: relative;
    width: 66%;
    display: flex;
    flex-direction: column;
}

#side-flex {
    background-color: rgb(255, 255, 255);
    width: 33%;
    min-height: 100%;
    

}

#side-flex > #sidebar {
    margin: 1em;
    background-color: rgb(1, 95, 1);
    color: white;
    padding: 1em;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    height: 120vh;
    align-content: center;
}

#side-flex > #sidebar > div {
    margin: .6em;
}

#side-flex > #sidebar > div > h3 {
    font-weight: 700;
}

#side-flex > #sidebar > div > h6 {
    font-weight: 400;
    letter-spacing: 1px;

}

#main-flex > h1 {
    font-weight: 900;
    z-index: 1000;
}

#main-flex > h5 {
    font-weight: 700;
}

#terr-head {
    position: absolute;
    top: .25em;
    left: .25em;
    font-size: 100;
    text-transform: uppercase;
    color: rgba(0, 128, 0, 0.192);
    letter-spacing: .25em;
    font-weight: 700;
    font-size: 4em;
}

#main-flex > #proj-location {
    font-size: 1.5em;
    margin: 0;
}


#modal-img {
    height:100%;
    width: 100%;
    object-fit: cover;
}

#img-div {
    height:40%;
    width: 110%;

}