.modal-body > .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal-body > button {
    background: rgb(24,162,78);
    font-weight: 700;
    padding: 20px 30px 20px 30px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}

.modal-footer > button {
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    width: 50px;
}

#log-out-div {
    height: 100vh;
}

#jumbo-out {
    background-image: url("https://bit.ly/2ADYsUD");
    
}

#jumbo-out > h2 {
    padding: 5vh;
    font-weight: 700;
    color: white;
}

#jumbo-out > #SPG-reg {
    width: 60vw;
}

.App {
    padding: 0px;
}

.container > .jumbotron {
    width: 100%;
    background: rgb(248,248,248);
    height: 100vh;
}

#jumbo-reg {
    background-image: url("https://bit.ly/2U38JTw");
    width: 50vw;
    border-radius: 0;
}

#logo-reg {
    float: left;
    width: 25vmin;
    height: 25vmin;
    padding: 3vmin;
    /*margin-top: 5vmin;*/
}


#SPG-reg {
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 700;
    font-size: 2.5em;
    padding-top: 5vmin;
    width: 80%;
    font-family: Montserrat, CircularStd;
    /*padding: 50px;*/
}

.button-toolbar {
    margin-top: 5%;
}

.btn-primary {
    font-weight: 300;
    background-color: black;
    width: 30vw;
    border-radius: 20px;
    height: 8vh;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: .9em;
}



.container > .jumbotron > .container {
    padding: 0px;
}
.form-control {
    width: 100%;
}

label {
    font-weight: 700;
}

.modal-dialog {
    max-width: 600px;
    padding: 0px;
}

#regi-img {
    float: left;
    height: 80vh;
    width: 40vw;
    object-fit: cover;
}

.modal-title {
    font-weight: 900;
    text-transform: uppercase;
}

.close {
    width: 12px;
}

#register-div {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#reg-toolbar > h2 {
    text-align: left;
    padding-bottom: 2em;
    font-weight: 700;
}

#reg-toolbar {
}
