.modal-title {
    font-weight: 700;
}

.error-Message {
    font-family: CircularStd;
    font-size: 10px;
    text-transform: initial;
}

#reset-email {
    padding: 1.5em;
    margin: 0;
    width: 100%;
}

#reset-form {
    text-align: center;
    padding-top: 10vmin;
}

#reset-form > .form-group {
    padding: 0;
}