.btn-primary {
    font-weight: 300;
    background-color: black;
    width: 30vw;
    border: none;
    border-radius: 30px;
    height: 7vh;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: .9em;
    margin: auto;
}

.btn-primary:hover {
    background-color: rgb(24,162,78);
}

text{
    font-family: Montserrat, CircularStd;

    font-size: 20px
}

input {
    background: transparent;
    border-radius: 5px;
    padding: 6%;
    padding-left: 2%;
    transition: border-color 0.5s, border-width 0.5s;
}

.modal-title {
    text-transform: capitalize;
    font-weight: 700;
}

.error-Message {
    font-family: Montserrat, CircularStd;

    font-size: 10px
}

input[type=text] {
    /*width: 100%;*/
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }