:root {
  --main-spg-color: rgb(24,162,78);
  --sec-spg-color: rgb(52, 102, 69);
}

.App {
  text-align: center;
  font-family: CircularStd, Montserrat;
  background: #fefefe;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.btn-primary {
  font-weight: 300;
  background-color: black;
  width: 30vw;
  border: none;
  border-radius: 30px;
  height: 7vh;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: .9em;
  margin: auto;
}

.btn-primary:hover {
  background-color: rgb(88,183,123);
}

.btn-tertiary {
  font-weight: 300;
  background-color: white;
  border-color: rgb(43, 43, 43);
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: .05em;
  
  padding: .8em 0px;
  width: 9vw;
  font-size: .8em;
}

.btn-tertiary:hover {
  background-color: rgb(24,162,78);
  color: white;
  border-color: transparent;
}

.btn-tertiary:focus {
  outline-width: 1px;
}

.flex-content {
  margin: 10vh 10vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.flex-content > * {
    margin: 1%;
}

h2 {
  text-transform: initial;
  font-weight: 700;
  font-size: 2em;
}

.h2-project {
  font-weight: 900;
        z-index: 1000;
        font-size: 2em;
        padding-left: 0.5em;
        padding-top: .3em;
}

h1 {
  font-size: 8vmin;
  margin-top: 10px;
  font-weight: 700;
  text-transform: initial;
  text-align: left;
  margin-left: 7vw;
}

h5 {
  font-size: 1em;
}

* :focus {
  outline: 0;
}

*:focus {
  outline: 0;
}
.spg-link {
  color: var(--main-spg-color);
  text-decoration: none;

}

.spg-link:hover {
  text-decoration: none;
  color: var(--sec-spg-color);
}

@media(max-width: 800px) {
  .btn-primary {
    width: 80vw;
  }
  body {
    font-size: 10px;
  }
}


/*ALERTS*/
.alert-danger {
  background: white;
  border-color: red;
  color: red;
  
}